
    {% for comment in comments %}
        <div class="border text-left p-3">
            <div class="">
                {{ comment.content|capitalize }}
            </div>
        </div>
        <div class="text-right m-3 ">
            <div class="">
                {{ comment.user.login | capitalize }}, le {{ comment.dateCreation|date('d-m-Y') }}.
            </div>

        </div>


    {% endfor %}


{% include "/template/_hide_loop.html.twig" %}

