{% for comment in comments %}
    <div class="col-12 row">
        <div class="col-3 d-flex align-items-center justify-content-end">
            <div class="   ">
                <img class="rounded-circle" src="{{ asset( uploaded_user_asset(comment.user.picture ) ) }}"
                     alt="background image" width="50vh" height="">
            </div>
        </div>
        <div class="p-3 col-8 d-flex border align-items-center">
            <div class=" text-left p-2 ">
                {{ comment.content|capitalize }}
            </div>
        </div>
        <div class="col-12 d-flex justify-content-end">
            <div class=" m-3">
                {{ comment.user.login | capitalize }}, le {{ comment.dateCreation|date('d-m-Y') }}.
            </div>
        </div>
    </div>

{% endfor %}

{% include "/trick/_hide_loop.html.twig" %}

