
/*homepage*/
.background{
    text-align: center;
    color: white;
    background-image: url('/images/background_image.jpg');
    background-origin: border-box;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.paragraph-home{
    block-size: max-content;
}

.btn-primary{
    background-color: white;
    color: #222222;
    box-shadow: #222222;
    border-color: #222222;
}

.nav-arrows .material-icons{
    font-size: 50px;
}

.down-arrow{
    position: fixed;
    bottom : 10vh;
    right: 15px;
    opacity: 0.8;
    width: 60px;
    height: 60px;
    background-color: floralwhite;
    border-radius: 50%;
}

.up-arrow{
    position: fixed;
    bottom : 12%;
    right: -100px;
    opacity: 0.8;
    width: 60px;
    height: 60px;
    z-index: 1;
}


a:not([href]) {
    color: white;
}

.container{
    height: 100%;
}


.container-tricks{
}

.intro-text{
    padding-top: 10vh;
    padding-bottom: 20vh;
}

.intro-heading{
    padding-top: 20vh;
    font-weight: 700;
    font-size: 500%;
}

.intro-paragraph{
    padding-top: 20vh;
    font-weight: 400;
    font-size: 500%;
}

.trick-image {
    position: relative;
    width: 100%;

}


.trick-image h1{
    position: absolute;
    top: 40%;
    left: 40%;
    width: 100%;
    font-size: 500%;
    color: white;
}

.trick-image .block-editDelete{
    background-color: #cbcbcb;
    border: #222222;
    position: absolute;
    top: 3%;
    right: 10vh;
}


/*edit Page*/
.trickEdit{
    padding-left: 20%;
    padding-right: 20%;
}

.trickEdit .text{
    overflow: auto;
}

.trickEdit button{
    margin-right: 15px;
}

.material-icons {
    color: rgba(0, 0, 0, 0.70);
}
.material-icons:hover{
    color: rgba(0, 0, 0, 0.30);
}


@media (max-width: 992px) {
    .intro-heading{
        font-weight: 700;
        font-size: 250%;
    }


    .intro-paragraph{
        font-size: 250%;
    }

    .trick-image h1{
        position: absolute;
        top: 40%;
        left: 35%;
        width: 100%;
        font-size: 250%;
        color: white;
    }

    .home-icons .material-icons{
        font-size: 36px;
    }
}


@media (min-width: 1200px){
    .container-tricks{
        min-width: 10vh;
        margin: 10%;
        margin-bottom: 10px;
    }
}





