{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page non trouvée. </h1>

    <p>
        La page que vous recherchez n'est pas disponible. Merci de vérifier l'url.
        Pour retourner à la page d'accueil :  <a href="{{ path('homepage') }}">Cliquez ici</a>.
    </p>
{% endblock %}