{% extends "base.html.twig" %}
{% block body %}

<div class="container mt-5">

    <div class="trick-image">
        <img src="/images/background_image.jpg" alt="" width="100%" height="100%" >
        <h1>{{ trick.title }}</h1>
        <div class="block-editDelete border">
            <div class="p-1">
                <a href="/trick/{{ trick.id }}/edit" class="mr-2"><img src="/images/edit-24px.svg" alt='Editer'> </a>
                <a data-toggle="modal" href="#confirmDelete"><img src="/images/delete-24px.svg" alt"Supprimer"> </a>
            </div>

        </div>
    </div>
    <div class="mt-5 d-flex row">

    </div>
    <div>
        <div class="m-5 p-3 text-justify">
            {{ trick.description}}
        </div>

    </div>

</div>


{% endblock %}