{% extends "base.html.twig" %}
{% block body %}
    <div class="container mt-5">
        {% include '_message_flash.html.twig' %}
        <div class="m-5 p-3 text-center">
            <h1>Réinitialiser le compte</h1>
        </div>
        <div class="col-md-12  ">
            <div class="d-flex justify-content-center">
                <div class="text-center border">
                    {{ form_start((form)) }}
                    <div class="mt-5 d-flex justify-content-center">
                        <div class="col-md-10 d-flex flex-column">
                            <div class="col-md-12  mb-3 ">
                                {{ form_row(form.password) }}
                            </div>
                            <div hidden>
                                {{ form_rest(form) }}
                            </div>
                            <div class="p-3">
                                <button class="btn btn-primary mx-3">Sauvegarder</button>
                            </div>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}


