<h1>
    Hello {{ login }}!
</h1>

<p>
    Tu viens de t'inscrire sur Snowtrick sous le pseudo {{ login }} :

    La confirmation de l'email permet à la fois de finaliser ton inscription et de te permettre d'accéder à la création des
    tricks, mais aussi d'adresse d'envoi en cas de perte du mot de passe.
</p>

<p>
    Pour valider ton inscription, merci de cliquer ou de copier le lien ci dessous.

    Si tu n'es pas à l'origine de cette inscription, n'hésite pas à contacter le webmaster (et à changer ton mot de
    passe).
</p>
<p>

    <a href="{{ url( url , {token: pass} ) }}">
        Clique sur ce lien pour confirmer.
    </a>
    (Ce lien est valable jusqu'à {{ expiration_date|date('F jS') }})
</p>

<p>
    A bientot sur Snowtrick.
</p>