<h1>Hello {{ login }}!</h1>

<p>
    Tu viens de demander la réinitialisation de ton mot de passe.
    Pour accéder au formulaire, clique sur le lien ci dessous.

    (Si tu n'es pas à l'origine de cette démarche, merci de contacter le webmaster, et de changer rapidement de mot de passe via ton espace perso !!)
</p>
<p>
        <a href="{{ path( url , {token: pass} ) }}">
       </a>
    (Ce lien est valide jusqu'à {{ expiration_date|date('F jS') }})
</p>
<p>
    A bientot.
    L'équipe de Snowtrick.
</p>